.wrapper {
    max-width: 1024px;
    height: 95vh;
    margin: 0 auto;
}

.header-welcome {
    color: #ffffff;
    height: 10vh;
    width: 100%;
    background: #00008b;
}

h1 {
    line-height: 10vh;
    margin: 0;
    text-align: center;
    font-size: 5vmin;
}

.main-top-home,
.main-top-map {
    height: 11vh;
    line-height: 11vh;
}

.main-top-map-container {
    position: relative;
}

.main-top-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 0;
    width: 100%;
}

.main-top-map-item {
    display: inline-block;
    width: 25%;
}

.main-top-map-item-map img {
    vertical-align: middle;
    width: 10vmin;
}

.main-top-map-item-loupe img {
    vertical-align: middle;
    width: 10vmin;
}

.main-top-map-item-book img {
    vertical-align: middle;
    width: 10vmin;
}

.main-top-map-item-help img {
    vertical-align: middle;
    width: 10vmin;
}

.main-top-home {
    background: url("../img/flag(2).png") bottom;
    background-size: 100%;
}

.main-top-home img {
    overflow: hidden;
}

.main-home-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    height: 65vh;
    overflow: auto;
}

.main-general-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    height: 76vh;
    overflow: auto;
}

.stars {
    padding: 2vmax 0 0;
    width: 25vmax;
}

.main-home-welcome {
    font: 800 3vmax 'Raleway', sans-serif;
}

.main-about-text,
.main-general-text {
    font: 600 3vmax 'Raleway', sans-serif;
    padding: 0 4vh;
    text-align: justify;
}

.main-general-text {
    margin: 0;
}

.contacts-container,
.main-about-text {
    margin-top: 2vh;
    padding: 0 4vh;
}

.contacts-container {
    text-align: left;
}

.email {
    color: #8a1d32;
    font: 600 5vmin 'Raleway', sans-serif;
    margin: 0;
}

.phone {
    color: #000000;
    font: 600 6vh 'Raleway', sans-serif;
    margin: 3vmin 0;
}

.billing-address-header,
.physical-address-header {
    color: #000000;
    font: 600 5vmin 'Raleway', sans-serif;
    margin: 3vmin 0 1vmin 0;
}

.physical-address-info,
.billing-address-info {
    color: #808080;
    font: 600 5vmin 'Raleway', sans-serif;
    margin: 0;
    white-space: pre;
}

.main-map-container {
    margin: 0 auto;
    width: 100%;
}

#map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 76vh;
    overflow: hidden;
}

.footer-buttons {
    text-align: center;
    background: #00008b;
    font-size: 0;
}

.footer-item {
    display: inline-block;
    height: 14vh;
    width: 25%;
}

.footer-buttons-home {
    background: #00008b url("../img/home(1).png") no-repeat center;
    background-size: 13vmin;
}

.footer-buttons-home-active {
    background: #00008b url("../img/home(3).png") no-repeat center;
    background-size: 13vmin;
    cursor: pointer;
}

.footer-buttons-map {
    background: #00008b url("../img/map(1).png") no-repeat center;
    background-size: 17vmin;
    cursor: pointer;
}

.footer-buttons-map-active {
    background: #00008b url("../img/map(3).png") no-repeat center;
    background-size: 17vmin;
    cursor: pointer;
}

.footer-buttons-about {
    background: #00008b url("../img/about(1).png") no-repeat center;
    background-size: 13vmin;
    cursor: pointer;
}

.footer-buttons-about-active {
    background: #00008b url("../img/about(3).png") no-repeat center;
    background-size: 13vmin;
    cursor: pointer;
}

.footer-buttons-contact {
    background: #00008b url("../img/contact(1).png") no-repeat center;
    background-size: 17vmin;
    cursor: pointer;
}

.footer-buttons-contact-active {
    background: #00008b url("../img/contact(3).png") no-repeat center;
    background-size: 17vmin;
    cursor: pointer;
}


#modal1 {
    width: 40vh;
    height: 20vh;
    border-radius: 30px;
    border: 0.3vh #000 solid;
    background: #ffffff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -10vh;
    margin-left: -20vh;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}
#modal2,
#modal3 {
    width: 40vh;
    height: 40vh;
    border-radius: 30px;
    border: 0.3vh #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -20vh;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

#overlay {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

.modal1-container,
.modal3-container,
.modal2-container {
    text-align: center;
}

.modal3-top,
.modal2-top {
    display: inline-block;
    height: 4vh;
    width: 38vh;
    background: #cacaca;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    line-height: 4vh;
    vertical-align: middle;
}

.modal3-top-layers,
.modal2-top-layers {
    float: left;
    font-size: 2vh;
    margin-left: 5vh;
}

.modal3-top-legends,
.modal2-top-legends {
    color: #ffffff;
    float: right;
    font-size: 2vh;
    margin-right: 5vh;
}

.modal3-main-one,
.modal3-main-two,
.modal3-main-three,
.modal3-main-four,
.modal2-main-one,
.modal2-main-two,
.modal2-main-three,
.modal2-main-four {
    font: 600 1.8vmax 'Raleway', sans-serif;
    width: 38vh;
    text-align: left;
    margin-right: 7vh;
}

.modal3-main-button-one,
.modal3-main-button-two,
.modal2-main-button-three,
.modal2-main-button-four,
.modal2-main-clinic,
.modal2-main-hospital,
.modal2-main-tricare,
.modal2-main-nongov {
    margin-left: 7vh;
}

.modal2-main-one {
    background: url("../img/clinic.png") 80% center no-repeat;
}

.modal2-main-two {
    background: url("../img/hospital.png") 80% center no-repeat;
}

.modal2-main-three {
    background: url("../img/tricare.png") 80% center no-repeat;
}

.modal2-main-four {
    background: url("../img/nongov.png") 80% center no-repeat;
}